<div id="<%= dom_id performance_review_question %>">
  <p>
    <strong>Performance review type:</strong>
    <%= performance_review_question.performance_review_type_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= performance_review_question.title %>
  </p>

</div>
