<div id="<%= dom_id growth_area %>">
  <p>
    <strong>Personal development plan:</strong>
    <%= growth_area.personal_development_plan_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= growth_area.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= growth_area.description %>
  </p>

</div>
