<p style="color: green"><%= notice %></p>
<%= render @growth_area %>
<div>
  <%= link_to "Edit this growth area", edit_growth_area_path(@growth_area) %> |
  <%= button_to "Destroy this growth area", @growth_area, method: :delete %>
</div>
