<% content_for :title, "Editing benefit" %>

<h1>Editing benefit</h1>

<%= render "form", benefit: @benefit %>

<br>

<div>
  <%= link_to "Show this benefit", @benefit %> |
  <%= link_to "Back to benefits", benefits_path %>
</div>
