<div id="<%= dom_id talent %>">
  <p>
    <strong>Personal development plan:</strong>
    <%= talent.personal_development_plan_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= talent.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= talent.description %>
  </p>

</div>
