<% content_for :title, "Editing talent" %>

<h1>Editing talent</h1>

<%= render "form", talent: @talent %>

<br>

<div>
  <%= link_to "Show this talent", @talent %> |
  <%= link_to "Back to talents", talents_path %>
</div>
