<p style="color: green"><%= notice %></p>
<%= render @talent %>
<div>
  <%= link_to "Edit this talent", edit_talent_path(@talent) %> |
  <%= button_to "Destroy this talent", @talent, method: :delete %>
</div>
