<p>Dear <%= @candidate.full_name %>,</p>
<p>Thank you for applying to <%= @job_posting.title %>.</p>
<p>We are pleased to inform you that you have been selected for the position. We would like to offer you the position of <%= @job_posting.title %> .</p>
<p>We are excited to have you join our team and look forward to working with you.</p>
<p>Please find the attached offer letter for your review. If you have any questions or concerns, please do not hesitate to reach out.</p>
<p>You can accept offer through this link <%= link_to "Accept Offer", offer_acceptance_url(sid: @signed_id) %></p>
<hr>
<p>Best regards,</p>