<% content_for :title, "Editing praise post" %>

<h1>Editing praise post</h1>

<%= render "form", praise_post: @praise_post %>

<br>

<div>
  <%= link_to "Show this praise post", @praise_post %> |
  <%= link_to "Back to praise posts", praise_posts_path %>
</div>
