@import url("https://fonts.googleapis.com/css2?family=Belgrano&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@import "tailwindcss";
@import "trix";
@import "primeicons/primeicons.css";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
    --font-belgrano: "Belgrano", serif;
    --font-jura: "Jura", sans-serif;
}

@layer base {
    ul,
    ol {
        list-style: revert;
    }
}

body {
    background-color: #f4f4fd;
}

.belgrano-regular {
    font-family: "Belgrano", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-icon {
    font-size: 40px;
    font-weight: 200;
}

.heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: #111509;
}

.page-heading {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    font-family: "Jura", sans-serif;
    color: #111509;
}

.page-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2.5rem;
}

.action-btn {
    background-color: orangered;
    border: none;
}
