@import 'primeicons/primeicons.css';
@import "tailwindcss";
@import "trix";


@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";


body {
    background-color: #f2efe9;
}

.belgrano-regular {
    font-family: "Belgrano", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.nav-icon {
    font-size: 40px;
    font-weight: 200;
}

.heading {
    font-size: 2rem;
    font-weight: 400;
    color: #111509
}