<% content_for :title, "New performance review response" %>
<h1>New performance review response</h1>
<%= render "form", reviewer: @reviewer, performance_review_response: @performance_review_response %>
<br>
<div>
  <%= link_to "Back to performance review responses", performance_review_responses_path %>
</div>
