<% content_for :title, "New milestone" %>
<h1>New milestone</h1>
<%= render "form", goal: @goal, milestone: @milestone %>
<br>
<div>
  <%= link_to "Back to milestones", goal_milestones_path(@goal) %>
</div>
