<div id="<%= dom_id leave_category %>">
  <p>
    <strong>Name:</strong>
    <%= leave_category.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= leave_category.organization_id %>
  </p>

</div>
