<% content_for :title, "Editing leave category" %>
<h1>Editing leave category</h1>
<%= render "form", leave_category: @leave_category %>
<br>
<div>
  <%= link_to "Show this leave category", @leave_category %> |
  <%= link_to "Back to Organization leave categories", organization_leave_categories_path(@leave_category.organization) %>
</div>
