<div id="<%= dom_id leave_balance %>">
  <p>
    <strong>Employee:</strong>
    <%= leave_balance.employee_id %>
  </p>

  <p>
    <strong>Leave policy:</strong>
    <%= leave_balance.leave_policy_id %>
  </p>

  <p>
    <strong>Time taken:</strong>
    <%= leave_balance.time_taken %>
  </p>

</div>
