<% content_for :title, "Editing leave balance" %>

<h1>Editing leave balance</h1>

<%= render "form", leave_balance: @leave_balance %>

<br>

<div>
  <%= link_to "Show this leave balance", @leave_balance %> |
  <%= link_to "Back to leave balances", leave_balances_path %>
</div>
