<%= render @leave_balance %>
<div>
  <%= link_to "Edit this leave balance", edit_leave_balance_path(@leave_balance) %> |
  <%= link_to "Back to leave balances", employee_leave_balances_path(@leave_balance.employee) %>
  <%= button_to "Destroy this leave balance", @leave_balance, method: :delete %>
</div>
