<% content_for :title, "Editing pulse survey response" %>
<h1>Editing pulse survey response</h1>
<%= render "form", pulse_survey_response: @pulse_survey_response %>
<br>
<div>
  <%= link_to "Show this pulse survey response", @pulse_survey_response %> |
</div>
