<% content_for :title, "New pulse survey response" %>

<h1>New pulse survey response</h1>

<%= render "form", pulse_survey_response: @pulse_survey_response %>

<br>

<div>
  <%= link_to "Back to pulse survey responses", pulse_survey_responses_path %>
</div>
