<p style="color: green"><%= notice %></p>
<%= render @pulse_survey_response %>
<div>
  <%= link_to "Edit this pulse survey response", edit_pulse_survey_response_path(@pulse_survey_response) %> |
  <%= button_to "Destroy this pulse survey response", @pulse_survey_response, method: :delete %>
</div>
