<p style="color: green"><%= notice %></p>
<% content_for :title, "Interviews" %>
<h1>Interviews</h1>
<div id="interviews">
  <% @interviews.each do |interview| %>
    <%= render interview %>
    <p>
      <%= link_to "Show this interview", interview %>
    </p>
  <% end %>
</div>
<%= link_to "New interview", new_job_applicant_interview_path(@job_applicant) %>