<% content_for :title, "Editing employee file" %>

<h1>Editing employee file</h1>

<%= render "form", employee_file: @employee_file %>

<br>

<div>
  <%= link_to "Show this employee file", @employee_file %> |
  <%= link_to "Back to employee files", employee_files_path %>
</div>
