<div id="<%= dom_id interviewer %>">
  <p>
    <strong>Interview:</strong>
    <%= interviewer.interview_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= interviewer.employee_id %>
  </p>

  <p>
    <strong>Assigned on:</strong>
    <%= interviewer.assigned_on %>
  </p>

</div>
