<p style="color: green"><%= notice %></p>
<% content_for :title, "Job applicants" %>
<h1>Job applicants</h1>
<div id="job_applicants">
  <% @job_applicants.each do |job_applicant| %>
    <%= render job_applicant %>
    <p>
      <%= link_to "Show this job applicant", job_applicant %>
    </p>
  <% end %>
</div>
