<div id="<%= dom_id document %>">
  <p>
    <strong>Name:</strong>
    <%= document.name %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= document.document_type %>
  </p>
  <p>
    <strong>Required:</strong>
    <%= document.required %>
  </p>
</div>
