<div id="<%= dom_id one_to_one %>">
  <p>
    <strong>Employee:</strong>
    <%= one_to_one.employee_id %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= one_to_one.manager_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= one_to_one.note %>
  </p>

</div>
