<p style="color: green"><%= notice %></p>
<%= render @one_to_one %>
<div>
  <%= link_to "Edit this one to one", edit_one_to_one_path(@one_to_one) %> |
  <%= button_to "Destroy this one to one", @one_to_one, method: :delete %>
</div>
