<div id="<%= dom_id cost_center %>">
  <p>
    <strong>Name:</strong>
    <%= cost_center.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cost_center.description %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= cost_center.code %>
  </p>

</div>
