<% content_for :title, "Editing cost center" %>

<h1>Editing cost center</h1>

<%= render "form", cost_center: @cost_center %>

<br>

<div>
  <%= link_to "Show this cost center", @cost_center %> |
  <%= link_to "Back to cost centers", cost_centers_path %>
</div>
