<p style="color: green"><%= notice %></p>
<% content_for :title, "Cost centers" %>
<h1>Cost centers</h1>
<div id="cost_centers">
  <% @cost_centers.each do |cost_center| %>
    <%= render cost_center %>
    <p>
      <%= link_to "Show this cost center", cost_center %>
    </p>
  <% end %>
</div>
<%= link_to "New cost center", new_organization_cost_center_path(@organization) %>
