<% content_for :title, "New emergency contact" %>
<h1>New emergency contact</h1>
<%= render "form", employee: @employee, emergency_contact: @emergency_contact %>
<br>
<div>
  <%= link_to "Back to Employee", @employee %>
</div>
