<div id="<%= dom_id benefit_type %>">
  <p>
    <strong>Name:</strong>
    <%= benefit_type.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= benefit_type.organization_id %>
  </p>

</div>
