<div id="<%= dom_id motivation %>">
  <p>
    <strong>Personal development plan:</strong>
    <%= motivation.personal_development_plan_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= motivation.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= motivation.description %>
  </p>

</div>
