<p style="color: green"><%= notice %></p>
<%= render @motivation %>
<div>
  <%= link_to "Edit this motivation", edit_motivation_path(@motivation) %> |
  <%= button_to "Destroy this motivation", @motivation, method: :delete %>
</div>
