<div id="<%= dom_id candidate_note %>">
  <p>
    <strong>Created at:</strong>
    <%= candidate_note.created_at %>
  </p>
  <p>
    <strong>Employee:</strong>
    <%= candidate_note.employee.full_name %>
  </p>
  <p>
    <strong>Note:</strong>
    <%= candidate_note.note %>
  </p>
</div>
