<% content_for :title, "Editing benefit election" %>

<h1>Editing benefit election</h1>

<%= render "form", benefit_election: @benefit_election %>

<br>

<div>
  <%= link_to "Show this benefit election", @benefit_election %> |
  <%= link_to "Back to benefit elections", benefit_elections_path %>
</div>
