<% content_for :title, "New benefit election" %>

<h1>New benefit election</h1>

<%= render "form", benefit_election: @benefit_election %>

<br>

<div>
  <%= link_to "Back to benefit elections", benefit_elections_path %>
</div>
