<% content_for :title, "Editing org asset" %>
<h1>Editing org asset</h1>
<%= render "form", org_asset: @org_asset %>
<br>
<div>
  <%= link_to "Show this org asset", @org_asset %> |
  <%= link_to "Back to Employee assets", employee_org_assets_path(@org_asset.employee) %>
</div>
