<div id="<%= dom_id career_vision %>">
  <p>
    <strong>Personal development plan:</strong>
    <%= career_vision.personal_development_plan_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= career_vision.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= career_vision.description %>
  </p>

</div>
