<p style="color: green"><%= notice %></p>

<% content_for :title, "Career visions" %>

<h1>Career visions</h1>

<div id="career_visions">
  <% @career_visions.each do |career_vision| %>
    <%= render career_vision %>
    <p>
      <%= link_to "Show this career vision", career_vision %>
    </p>
  <% end %>
</div>

<%= link_to "New career vision", new_career_vision_path %>
