<% content_for :title, "Editing job function" %>

<h1>Editing job function</h1>

<%= render "form", job_function: @job_function %>

<br>

<div>
  <%= link_to "Show this job function", @job_function %> |
  <%= link_to "Back to job functions", job_functions_path %>
</div>
