<% content_for :title, "New job function" %>
<h1>New job function</h1>
<%= render "form", organization: @organization, job_function: @job_function %>
<br>
<div>
  <%= link_to "Back to job functions", organization_job_functions_path(@organization) %>
</div>
