<% content_for :title, "Editing interview stage" %>

<h1>Editing interview stage</h1>

<%= render "form", interview_stage: @interview_stage %>

<br>

<div>
  <%= link_to "Show this interview stage", @interview_stage %> |
  <%= link_to "Back to interview stages", interview_stages_path %>
</div>
