<% content_for :title, "Editing performance review type" %>

<h1>Editing performance review type</h1>

<%= render "form", performance_review_type: @performance_review_type %>

<br>

<div>
  <%= link_to "Show this performance review type", @performance_review_type %> |
  <%= link_to "Back to performance review types", performance_review_types_path %>
</div>
