<p style="color: green"><%= notice %></p>

<% content_for :title, "Performance review types" %>

<h1>Performance review types</h1>

<div id="performance_review_types">
  <% @performance_review_types.each do |performance_review_type| %>
    <%= render performance_review_type %>
    <p>
      <%= link_to "Show this performance review type", performance_review_type %>
    </p>
  <% end %>
</div>

<%= link_to "New performance review type", new_performance_review_type_path %>
