<div id="<%= dom_id action_item %>">
  <p>
    <strong>Name:</strong>
    <%= action_item.name %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= action_item.completed %>
  </p>

  <p>
    <strong>One to one:</strong>
    <%= action_item.one_to_one_id %>
  </p>

</div>
