<% content_for :title, "Editing action item" %>

<h1>Editing action item</h1>

<%= render "form", action_item: @action_item %>

<br>

<div>
  <%= link_to "Show this action item", @action_item %> |
  <%= link_to "Back to action items", action_items_path %>
</div>
