<div id="<%= dom_id asset_category %>">
  <p>
    <strong>Name:</strong>
    <%= asset_category.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= asset_category.organization_id %>
  </p>

</div>
