<% content_for :title, "Editing asset category" %>

<h1>Editing asset category</h1>

<%= render "form", asset_category: @asset_category %>

<br>

<div>
  <%= link_to "Show this asset category", @asset_category %> |
  <%= link_to "Back to asset categories", asset_categories_path %>
</div>
