<% content_for :title, "Editing company file" %>

<h1>Editing company file</h1>

<%= render "form", company_file: @company_file %>

<br>

<div>
  <%= link_to "Show this company file", @company_file %> |
  <%= link_to "Back to company files", company_files_path %>
</div>
