<div id="<%= dom_id personal_development_plan %>">
  <p>
    <strong>Employee:</strong>
    <%= personal_development_plan.employee_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= personal_development_plan.name %>
  </p>

</div>
