<% content_for :title, "New location" %>
<h1>New location</h1>
<%= render "form", organization: @organization, location: @location %>
<br>
<div>
  <%= link_to "Back to locations", organization_locations_path(@organization) %>
</div>
