<% content_for :title, "Employee Benefits" %>
<h1>Employee Benefits</h1>
<div id="employee_benefits">
  <% @employee_benefits.each do |employee_benefit| %>
    <%= render partial: "employee_benefit", locals: {employee_benefit: employee_benefit} %>
    <p>
      <%= link_to "Show this employee benefit", employee_benefit %>
    </p>
  <% end %>
</div>
<div>
  <%= link_to "Back to Employee", employee_path(@employee) %>
</div>